<div class="content">
    <h2>Friend Requests</h2>
    <ul>
        {% for request in friend_requests %}
        <li>
            {{ request['sender_username'] }} - 
            <form method="post" action="{{ url_for('accept_friend_request', request_id=request['id']) }}">
                <button type="submit">Accept</button>
            </form>
            <form method="post" action="{{ url_for('decline_friend_request', request_id=request['id']) }}">
                <button type="submit">Decline</button>
            </form>
        </li>
        {% else %}
        <li>No friend requests found.</li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var addFriendModal = document.getElementById("addFriendModal");
        var friendRequestModal = document.getElementById("friendRequestModal");
        var closeButtons = document.getElementsByClassName("close");

        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < closeButtons.length; i++) {
            closeButtons[i].onclick = function() {
                addFriendModal.style.display = "none";
                friendRequestModal.style.display = "none";
            }
        }

        // Function to show the Add Friend modal
        function showAddFriendModal() {
            addFriendModal.style.display = "block";
        }

        // Function to show the Friend Request modal
        function showFriendRequestModal() {
            fetch('/friend_requests')  // Fetch the friend requests data
                .then(response => response.text())  // Get the HTML response
                .then(html => {
                    var modalBody = document.getElementById("modal-body");
                    modalBody.innerHTML = html;  // Inject the HTML into the modal
                    friendRequestModal.style.display = "block";  // Show the modal
                })
                .catch(error => console.error('Error:', error));
        }

        // Add event listener to the "Add Friend" button
        document.getElementById("addFriendButton").addEventListener("click", function(event) {
            event.preventDefault();
            showAddFriendModal();
        });

        // Add event listener to the "Friend Request" button
        document.getElementById("friendRequestButton").addEventListener("click", function(event) {
            event.preventDefault();
            showFriendRequestModal();
        });

    });
</script>
