<div class="content">
    <h2>Friend Requests</h2>
    <ul>
        {% for request in friend_requests %}
        <li>
            {{ request['sender_username'] }} - 
            <form method="post" action="{{ url_for('accept_friend_request', request_id=request['id']) }}">
                <button type="submit">Accept</button>
            </form>
            <form method="post" action="{{ url_for('decline_friend_request', request_id=request['id']) }}">
                <button type="submit">Decline</button>
            </form>
        </li>
        {% else %}
        <li>No friend requests found.</li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

