<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <style>
 
    </style>
</head>
{% include 'navbar.html' %} 
    <p id="goal">GOAL: (placeholder)</p>
    <p id="progress">COUNTER: (placeholder)</p>
    <img src="/images/jarbg.png" class="backgroundbig">
    <img src="/images/100.png" id="jar">
</body>
</html>