<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <style>

    </style>
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html'%}
    <img src="{{ url_for('static', filename='img/insurancebg.png') }}" alt="Icon" class="background">
    <img src="{{ url_for('static', filename='img/insurance.png') }}" alt="Icon" class="insuranceimage">
    <button id='button1' class='insurance_button'>$500</button>
    <button id='button2' class='insurance_button'>$2000</button>
    <button id='button3' class='insurance_button'>$5000</button>
    <button id='button4' class='insurance_button'>$10000</button>
</body>
</html>