<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <form method="post">
            <label for="sector">What sector you want to work at?</label>
            <div>
                <input type="radio" id="it" name="sector" value="it">
                <label for="it">Information Technology</label>
            </div>
            <div>
                <input type="radio" id="finance" name="sector" value="finance">
                <label for="finance">finance</label>
            </div>
            <div>
                <input type="radio" id="education" name="sector" value="education">
                <label for="education">education</label>
            </div>
            <div>
                <input type="radio" id="agriculture" name="sector" value="agriculture">
                <label for="agriculture">agriculture</label>
            </div>
            <div>
                <input type="radio" id="manufacturing" name="sector" value="manufacturing">
                <label for="manufacturing">manufacturing</label>
            </div>
            <div>
                <input type="radio" id="media" name="sector" value="media">
                <label for="media">Entertainment and Media</label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>