{% include 'navbar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<div id="bg" style="display:flex;align-items: center;justify-content: center;flex-direction: column;padding-bottom:80px">
    <div style="width: 75%;background:#e2e2e2;display: flex;flex-direction: row;margin-top:100px">

        <div>
            <div class="button">
                <a href="#" >
                    <div  id="addFriendButton">
                        Add Friend
                    </div>
                </a>
            </div>
            <div class="button">
                <a href="#">
                    <div id="friendRequestButton">
                        Friend Requests
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <h1>Friends</h1>
    <table id="friendtable">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Money</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friends %}
            <tr>
                <td><img src="{{ friend.friend_image }}" id="img"></td>
                <td>{{ friend.friend_name }}</td>
                <td>${{ friend.friend_money }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

<!-- Add Friend Modal Structure -->
<div id="addFriendModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-body">
            {% include 'whenin/addFriends.html' %}
        </div>
    </div>
</div>

<!-- Friend Request Modal Structure -->
<div id="friendRequestModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-body">
            {% include 'whenin/friendReq.html' %}
        </div>
    </div>
</div>

<!-- Modal Styles -->
<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var addFriendModal = document.getElementById("addFriendModal");
        var friendRequestModal = document.getElementById("friendRequestModal");
        var closeButtons = document.getElementsByClassName("close");
    
        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < closeButtons.length; i++) {
            closeButtons[i].onclick = function() {
                addFriendModal.style.display = "none";
                friendRequestModal.style.display = "none";
            }
        }
    
        // Function to show the Add Friend modal
        function showAddFriendModal() {
            addFriendModal.style.display = "block";
        }
    
        // Function to show the Friend Request modal
        function showFriendRequestModal() {
            friendRequestModal.style.display = "block";
        }
    
        // Add event listener to the "Add Friend" button
        document.getElementById("addFriendButton").addEventListener("click", function(event) {
            event.preventDefault();
            showAddFriendModal();
        });
    
        // Add event listener to the "Friend Request" button
        document.getElementById("friendRequestButton").addEventListener("click", function(event) {
            event.preventDefault();
            showFriendRequestModal();
        });
    
    });
    </script>