body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E2E2E2;
    position: relative;
    height: 90px;
    width: 100vw;
}

.navbar-item {
    text-align: center;
    flex: 1;
    position: relative;
    z-index: 10;
    width: 100px;
}

.navbar-item img {
    width: 68px;
    height: 55px;
    display: block;
    margin: -10px auto 0px auto;
    transition: 0.4s;
    padding-bottom: 2px;
}

.navbar-item::before {
    content: '';
    position: absolute;
    top: -60%;
    left: 7.2vw;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 140px;
    background-color: #FFCC59;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -10;
    transform: rotate(-270deg);
    transition: 0.5s transform;
}

.navbar-item:hover::before {
    background-color:#FFCC59;
    transform: rotate(0deg);
    height: 110px;
    width: 180px;
    left: 26%;
    top: -12%;
}

.navbar-item:hover img {
    width: 85px;
    height: 70px;
}

.navbar-item.active img {
    width: 85px;
    height: 70px;
}

.navbar-item span {
    font-size: medium;
    color: #000;
    font-weight: bold;
    transition: 0.4s;
    border-left: transparent 60px solid;
    border-right: transparent 60px solid;
}

.navbar a {
    text-decoration: none;
}

.navbar-item:hover span {
    font-size: large;
    color: #000;
    font-weight: bold;
}

.navbar-item.active span {
    font-size: large;
    color: #000;
    font-weight: bold;
    border: none;
}

.separator {
    height: 60px;
    border-left: 4px solid #FFCC59;
}

.navbar-item.active {
    height: 45px;
}

.navbar-item.active::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 120px;
    background-color: #ffa800;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -1;
}

.navbar-item.active::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 160px;
    background-color: #CFCFCF;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -1;
}

.content {
    height: calc(100vh - 80px);
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    border: 2px red solid;
    text-decoration: none;
    z-index: 2;
}

.clip {
    bottom: 30px;
    right: 30px;
    height: 64px;
    width: 34px;
    position: fixed;
    overflow: hidden;
    transform: rotate(180deg);
    z-index: 2;
}

.block {
    bottom: 30px;
    right: 10px;
    height: 64px;
    width: 52px;
    position: fixed;
    background-color:#ffa800;
    z-index: 1;
}

.block2 {
    bottom: 30px;
    right: 0px;
    height: 64px;
    width: 30px;
    position: fixed;
    background-color:#ffa800;
    z-index: 3;
}

.rec {
    width: 160px;
    height: 60px;
    background-color:#000;
    line-height: 60px;
    right: -100px;
    bottom: 30px;
    position: fixed;
    z-index: 1;
    transition: transform 0.4s;
    border: 2px red solid;
    border-left: none;
}

.username {
    line-height: 60px;
    right: -65px;
    bottom: 32px;
    position: fixed;
    z-index: 3;
    transition: transform 0.4s;
    border-left: none;
    color: red;
    padding-left: 40px;
}

.cir {
    width: 60px;
    height: 60px;
    background-color:#000;
    line-height: 60px;
    border: 2px red solid;
    right: 30px;
    bottom: 30px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.4s;
}

.profile-button:hover .username {
    transform: translateX(-130px);
}
.profile-button:hover .rec {
    background-color:#000;
    transform: translateX(-130px);
}

.profile-button:hover .cir {
    background-color:#000;
    transform: translateX(-130px);
}

.profile-button:hover .pfp-container {
    transform: translateX(-130px);
}

.pfp-container {
    bottom: 32px;
    right: 32px;
    position: fixed;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.4s;
    z-index: 2;
}

.pfp-container img {
    height: 60px;
    width: 60px;
    transform: scale(1.4);
}

@media (max-width: 1200px) {
    .navbar-item img {
        width: 55px;
        height: 45px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 70px;
        height: 58px;
    }

    .navbar-item.active::after {
        width: 135px;
        height: 105px;
    }

    .navbar-item.active::before {
        width: 165px;
        height: 140px;
    }

    .navbar-item.active {
        height: 35px;
    }

    .navbar-item span {
        font-size: 16px;
    }

    .navbar-item.active span {
        font-size: 20px;
    }

    .navbar-item::before {
        top: -65%;
        left: 30%;
        width: 90px;
        height: 125px;
    }
}

@media (max-width: 992px) {
    .navbar-item img {
        width: 50px;
        height: 40px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 65px;
        height: 52px;
    }

    .navbar-item.active::after {
        width: 125px;
        height: 95px;
    }

    .navbar-item.active::before {
        width: 155px;
        height: 125px;
    }

    .separator {
        height: 50px;
        border-left-width: 3px;
    }

    .navbar-item.active {
        height: 30px;
    }

    .navbar-item span {
        font-size: 14px;
    }

    .navbar-item.active span {
        font-size: 18px;
    }

    .navbar-item::before {
        top: -65%;
        left: 30%;
        width: 80px;
        height: 110px;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 70px;
    }

    .navbar-item img {
        width: 45px;
        height: 36px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 60px;
        height: 48px;
    }

    .navbar-item.active::after {
        width: 105px;
        height: 85px;
    }

    .navbar-item.active::before {
        width: 135px;
        height: 115px;
    }

    .separator {
        height: 45px;
        border-left-width: 2px;
    }

    .navbar-item.active {
        height: 30px;
    }

    .navbar-item span {
        font-size: 12px;
    }

    .navbar-item.active span {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: 60px;
    }

    .navbar-item img {
        width: 40px;
        height: 32px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 40px;
        height: 30px;
    }

    .navbar-item.active::after {
        width: 75px;
        height: 65px;
    }

    .navbar-item.active::before {
        width: 90px;
        height: 90px;
    }

    .separator {
        height: 40px;
        border-left-width: 2px;
    }

    .navbar-item.active {
        height: 20px;
    }

    .navbar-item span {
        font-size: 10px;
    }

    .navbar-item.active span {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .navbar {
        height: 50px;
    }

    .navbar-item img {
        width: 35px;
        height: 28px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 45px;
        height: 35px;
    }

    .navbar-item.active::after {
        width: 55px;
        height: 60px;
    }

    .navbar-item.active::before {
        width: 75px;
        height: 75px;
    }

    .separator {
        height: 35px;
        border-left-width: 1.5px;
    }

    .navbar-item.active {
        height: 25px;
    }

    .navbar-item span {
        font-size: 8px;
    }

    .navbar-item.active span {
        font-size: 12px;
    }
}
