body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #E2E2E2;
    padding-bottom: 16px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E2E2E2;
    position: relative;
    height: 90px;
    width: 100vw;
}

.navbar-item {
    text-align: center;
    flex: 1;
    position: relative;
    z-index: 10;
    width: 100px;
}

.navbar-item img {
    width: 68px;
    height: 55px;
    display: block;
    margin: -10px auto 0px auto;
    transition: 0.4s;
    padding-bottom: 2px;
}

.navbar-item::before {
    content: '';
    position: absolute;
    top: -60%;
    left: 6vw;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 150px;
    background-color: #FFCC59;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -10;
    transform: rotate(-270deg);
    transition: 0.5s transform;
}

.navbar-item:hover::before {
    background-color:#FFCC59;
    transform: rotate(0deg);
    height: 120px;
    width: 200px;
    left: 26%;
    top: -12%;
}

.navbar-item:hover img {
    width: 85px;
    height: 70px;
}

.navbar-item.active img {
    width: 85px;
    height: 70px;
}

.navbar-item span {
    font-size: medium;
    color: #000;
    font-weight: bold;
    transition: 0.4s;
    border-left: transparent 60px solid;
    border-right: transparent 60px solid;
}

.navbar a {
    text-decoration: none;
}

.navbar-item:hover span {
    font-size: large;
    color: #000;
    font-weight: bold;
}

.navbar-item.active span {
    font-size: large;
    color: #000;
    font-weight: bold;
    border: none;
}

.separator {
    height: 60px;
    border-left: 4px solid #FFCC59;
}

.navbar-item.active {
    height: 45px;
}

.navbar-item.active::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 120px;
    background-color: #ffa800;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -1;
}

.navbar-item.active::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 160px;
    background-color: #CFCFCF;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: -1;
}

.frame {
    height: 88vh;
    border:#E2E2E2 16px solid;
    border-top:#E2E2E2 6px solid;
    border-radius: 7%;
    background-color: transparent;
    position: fixed;
    width: calc(100vw - 32px);
    overflow: hidden;
    z-index: -5;
}

.hard {
    background-color:#E2E2E2;
    height: 100px;
    width: 16px;
    position: fixed;
    bottom: 30px;
    right: 0px;
    z-index: 9;
}

@media (max-width: 1200px) {
    .navbar-item img {
        width: 55px;
        height: 45px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 70px;
        height: 58px;
    }

    .navbar-item.active::after {
        width: 135px;
        height: 105px;
    }

    .navbar-item.active::before {
        width: 165px;
        height: 140px;
    }

    .navbar-item.active {
        height: 35px;
    }

    .navbar-item span {
        font-size: 16px;
    }

    .navbar-item.active span {
        font-size: 20px;
    }

    .navbar-item::before {
        top: -65%;
        left: 30%;
        width: 90px;
        height: 125px;
    }
}

@media (max-width: 992px) {
    .navbar-item img {
        width: 50px;
        height: 40px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 65px;
        height: 52px;
    }

    .navbar-item.active::after {
        width: 125px;
        height: 95px;
    }

    .navbar-item.active::before {
        width: 155px;
        height: 125px;
    }

    .separator {
        height: 50px;
        border-left-width: 3px;
    }

    .navbar-item.active {
        height: 30px;
    }

    .navbar-item span {
        font-size: 14px;
    }

    .navbar-item.active span {
        font-size: 18px;
    }

    .navbar-item::before {
        top: -65%;
        left: 30%;
        width: 80px;
        height: 110px;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 70px;
    }

    .navbar-item img {
        width: 45px;
        height: 36px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 60px;
        height: 48px;
    }

    .navbar-item.active::after {
        width: 105px;
        height: 85px;
    }

    .navbar-item.active::before {
        width: 135px;
        height: 115px;
    }

    .separator {
        height: 45px;
        border-left-width: 2px;
    }

    .navbar-item.active {
        height: 30px;
    }

    .navbar-item span {
        font-size: 12px;
    }

    .navbar-item.active span {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: 60px;
    }

    .navbar-item img {
        width: 40px;
        height: 32px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 40px;
        height: 30px;
    }

    .navbar-item.active::after {
        width: 75px;
        height: 65px;
    }

    .navbar-item.active::before {
        width: 90px;
        height: 90px;
    }

    .separator {
        height: 40px;
        border-left-width: 2px;
    }

    .navbar-item.active {
        height: 20px;
    }

    .navbar-item span {
        font-size: 10px;
    }

    .navbar-item.active span {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .navbar {
        height: 50px;
    }

    .navbar-item img {
        width: 35px;
        height: 28px;
    }

    .navbar-item:hover img, .navbar-item.active img {
        width: 45px;
        height: 35px;
    }

    .navbar-item.active::after {
        width: 55px;
        height: 60px;
    }

    .navbar-item.active::before {
        width: 75px;
        height: 75px;
    }

    .separator {
        height: 35px;
        border-left-width: 1.5px;
    }

    .navbar-item.active {
        height: 25px;
    }

    .navbar-item span {
        font-size: 8px;
    }

    .navbar-item.active span {
        font-size: 12px;
    }
}
