<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
    <link rel="stylesheet" type="text/css" href="/home/shixu/Documents/GitHub/Code-Overflow/static/index.css">
</head>
<body>
    <body>

        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <div class="top-bar">
            <label for="nav-toggle" class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </label>
            <a href="index.html"><img src="images/RePiano logo.png" id="logo-top"></a> 
            <label class="top-element">Home</label>
        </div>
        
        <div class="navbar">
            <label class="selected-key">Home</label>

            <a href="" class="navlinks white-key"></a>

            <a href="" class="navlinks white-key"></a>

            <a href="" class="navlinks white-key"></a>

        </div>
        
</body>
</html>