<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="navbar">
      <div class="separator"></div>
      <div class="navbar-item active">
          <img src="static/img/beehive-logo.png" alt="beehive">
          <span>Login</span>
      </div>
      <div class="separator"></div>
    </div>
        
        <img src="static/img/WhatsApp Image 2024-09-02 at 2.44.53 PM.jpeg" class="backgroundbig">
        <img src="static/img/WhatsApp Image 2024-09-02 at 4.04.39 PM.jpeg" class="backgroundsmall">
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="Name"/>
                    <input type="password" placeholder="Password"/>
                    <input type="text" placeholder="Email Address"/>
                    <button>Create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="Username"/>
                    <input type="password" placeholder="Password"/>
                    <button>Login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
                <div class="iconAndTitle">
                    <img src="static/img/beehive-logo.png">
                    <span>How to BEE a BEELLIONAIRE<a href="{{ url_for('profile') }}">TEST</a></span>
                </div>
            </div>
        </div>


</body>
</html>
