<!DOCTYPE html>
<html>
{% include 'navbar.html'%}
<div id="bg"> <!--body-->

</div>
<script>
    var sector = 'it'; //THIS IS TEMPORARY, PULL FROM DATABASE
    if (sector=='it'){ //if sector is IT, change background img to IT
        document.getElementById("bg").css = ('background-image',url('./static/img/it.png'));
    }
    else if (sector=='finance'){
        document.getElementById("bg").css = ('background-image',url('./static/img/finance.png'));
    }
    else if (sector=='media'){
        document.getElementById("bg").css = ('background-image',url('./static/img/media.png'));
    }
    else if (sector=='education'){
        document.getElementById("bg").css = ('background-image',url('./static/img/education.png'));
    }
    else if (sector=='manufacturing'){
        document.getElementById("bg").css = ('background-image',url('./static/img/manufacturing.png'));
    }
    else if (sector=='agriculture'){
        document.getElementById("bg").css = ('background-image',url('./static/img/agriculture.png'));
    }
</script>
</html>