<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-item {% if request.path == url_for('loaning', user_id=user_id) %}active{% endif %}">
            <a href="{{ url_for('loaning', user_id=user_id) }}"><img src="{{ url_for('static', filename='img/loaning-icon.png') }}" alt="Loaning">
            <span>Loaning</span></a>
        </div>
        <div class="separator"></div>
        <div class="navbar-item {% if request.path == url_for('investment') %}active{% endif %}">
            <a href="{{ url_for('investment') }}"><img src="{{ url_for('static', filename='img/investment-icon.png') }}" alt="Investment">
            <span>Investment</span></a>
        </div>
        <div class="separator"></div>
        <div class="navbar-item {% if request.path == url_for('homepage') %}active{% endif %}">
            <a href="{{ url_for('homepage') }}"><img src="{{ url_for('static', filename='img/honeyjar-icon.png') }}" alt="Honey jar">
            <span>Honey Jar</span></a>
        </div>
        <div class="separator"></div>
        <div class="navbar-item {% if request.path == url_for('insurance') %}active{% endif %}">
            <a href="{{ url_for('insurance') }}"><img src="{{ url_for('static', filename='img/insurance-icon.png') }}" alt="Insurance">
            <span>Insurance</span></a>
        </div>
        <div class="separator"></div>
        <div class="navbar-item {% if request.path == url_for('social') %}active{% endif %}">
            <a href="{{ url_for('social') }}"><img src="{{ url_for('static', filename='img/social-icon.png') }}" alt="Social">
            <span>Social</span></a>
        </div>
    </div>
</body>
</html>