@@ -0,0 +1,23 @@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .settings{
            width: 125px;
            height:125px;

            position:absolute;
            bottom: 20px;
            right:20px;
        }

        </style>

</head>
<body>
    <a href="{{ url_for('profile') }}"><img src="{{ url_for('static', filename='img/YELLOWPERSON.png') }}" alt="Icon" class="settings"></a>
</body>
</html>