<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <img src="static/img/WhatsApp Image 2024-09-02 at 2.44.53 PM.jpeg" class="backgroundbig">
  <img src="static/img/WhatsApp Image 2024-09-02 at 4.04.39 PM.jpeg" class="backgroundsmall">
    <div class="login-page">
        <div class="form-container">
            {% if form_type == 'signup' %}
                {% include 'signup.html' %}
            {% elif form_type == 'login' %}
                {% include 'login.html' %}
            {% endif %}
        </div>
    </div>
    {% include 'popup.html' %}

</body>
</html>
